* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f172a;
    color: white;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #1e293b;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar a:hover {
    color: #38bdf8;
}

.logo {
    color: #38bdf8;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text h2 {
    color: #38bdf8;
    margin: 10px 0;
}

.hero-text p {
    margin: 30px 20px;
    font-size: 22px;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background: linear-gradient(45deg, #38bdf8, #6366f1);
    padding: 15px 25px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.education {
    background: #1e293b;
}

.edu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* SKILLS */

.skills-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.skill{
    background:#1e293b;
    padding:20px;
    width:200px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

/* Profile Image */
.hero-img img {
    width: 310px;  
    height: 380px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    box-shadow: 0 0 25px #38bdf8;
}

/* Sections */
.about {
    background: #1e293b;
}
.section {
    padding: 80px 60px;
    text-align: center;
    font-size: 20px;
}

/* Projects */
.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #334155;
}

/* Responsive */
@media(max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }
}

.contact a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: 500;
    margin-top: 0.5rem;
}

.contact a:hover {
    text-decoration: underline;
}

/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    background:#5757f7;
    color:white;
}


@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        width: 200px;
        margin-top: 30px;
    }
}